@use 'variables';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variables.$backgroundColor;
    transition: background-color 0.5s ease;

    &--is-hidden {
        background-color: transparent;
        transition: background-color 0.5s ease;

        .header {
            &__logo {
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.5s ease;
            }
        }
    }

    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
            padding: 0 12px 0 20px;
        }
    }

    &__logo {
        max-width: 180px;
        width: 100%;
        margin: 5px;
        transition: opacity 0.5s ease;

        @media (max-width: 768px) {
            max-width: 74px;
        }
    }

    &__links {
        display: flex;

        &__item {
            margin: 5px;
            transition: opacity 0.5s ease;
        }
    }

    .button {
        height: 50px;

        @media (max-width: 768px) {
            font-size: 13px;
            padding: 8px 11px;
            height: 40px;
            letter-spacing: 0;
        }
    }
}

.hidden {
    visibility: hidden;
}