.hero {
    display: flex;
    align-items: center;
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../images/scream_background.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;

    @media (max-width: 768px) {
        min-height: 65vh;
        align-items: end;
        background-position: top;
    }

    .button {
        margin-top: 2vw;
        margin-bottom: 8px;
    }

    &__container {
        max-width: 540px;
        width: 50%;

        @media (max-width: 768px) {
            width: 100%;
            height: 40vh;
        }
    }

    &__logo {
        max-width: 520px;
        margin: 0 auto 38px;

        @media (max-width: 768px) {
            padding-top: 20vh;
            max-width: 240px;
            margin-bottom: 0;
        }

        img {
            width: 100%;
        }
    }

    .title--small {
        margin-bottom: 64px;
        color: #9d001e;
        text-transform: uppercase;
        font-weight: 300;

        @media (max-width: 768px) {
            font-size: 14px;
            margin-bottom: 0;
        }
    }

    p {
        margin-bottom: 20px;

        &:last-child {
            margin-top: 60px;
        }
    }

    &__combos {
        display: flex;
        justify-content: space-between;

        &__combo {
            width: calc(50% - 12px);

            img {
                max-height: 60px;
            }

        }
    }
}