.movies {
    padding: 12vw 5.6vw;

    &__list {
        margin: 44px auto 0;
        max-width: 1200px;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }

        img {
            border-radius: 4px;
            max-width: 250px;
            max-height: 370px;
            width: 100%;
            height: 100%;
        }
    }

    h2 {
        text-align: center;
        text-transform: uppercase;
    }
}
