@use 'variaveis';
@use 'header';
@use 'hero';
@use 'streaming';
@use 'movies';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto condensed", sans-serif;
    list-style: none;
}

body {
    background-color: variaveis.$backgroundColor;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$primaryTextColor;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$secondaryTextColor;
}

.text--big {
    @include text(18px);

    @media (max-width: 768px) {
        @include text(15px);
    }
}

.text {
    @include text;

    @media (max-width: 768px) {
        @include text(14px);
    }
}

.text--small {
    @include text(12px);

    @media (max-width: 768px) {
        @include text(11px);
    }
}

.title--big {
    @include title(44px);

    @media (max-width: 768px) {
        @include title(26px);
    }
}

.title {
    @include title;

    @media (max-width: 768px) {
        @include title(24px);
    }
}

.title--small {
    @include title(28px);

    @media (max-width: 768px) {
        @include title(22px);
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$secondaryTextColor;
    background-color: variaveis.$primaryButtonBackgroundColor;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid variaveis.$primaryButtonBackgroundColor;

    &:hover {
        background-color: lighten(variaveis.$primaryButtonBackgroundColor, 3%);
    }

    &--secondary {
        background-color: rgba(variaveis.$secondaryButtonBackgroundColor, 0.8);
        border-color: variaveis.$secondaryTextColor;

        &:hover {
            background-color: variaveis.$secondaryTextColor;
            color: variaveis.$backgroundColor;
        }
    }
}